<turbo-frame id="activity-feed">
  <div class="activity-feed" id="activity-feed">
    <li class="px-4 py-4 sm:px-6 lg:px-8">
      <div class="flex items-center gap-x-3">
        <span class="flex h-6 w-6 shrink-0 items-center justify-center rounded-lg border border-gray-200 bg-slate-200 text-[.8rem] font-bold text-gray-800 group-hover:border-primary group-hover:text-primary"><%= feed.last.split.map { |word| word[0] }.join %></span>
        <h3 class="flex-auto text-base 2xl:text-lg font-semibold leading-6 text-black">
          <p><strong><%= feed[0] %></strong> : <%= feed[5].titleize if feed[5].present? %></p>
        </h3>
        <% parsed_time = feed[2].is_a?(String) ? Time.parse(feed[2]) : feed[2] %>
        <time datetime="<%= parsed_time.iso8601 %>" class="relative bottom-6 flex-none text-xs text-gray-600">
          <%= time_ago_in_words(parsed_time) %> ago</time>      </div>
      <p class="mt-3 truncate text-base 2xl:text-lg text-gray-500">
        <p><%= feed[1].humanize %></p>
        <span class="text-gray-700"> <%= feed[4].titleize %></span> (<span class="font-mono text-gray-700"><%=feed[3].titleize  %></span> <span class="text-gray-700"></span>)</p>
    </li>
  </div>
</turbo-frame>
