<!-- app/views/pricing_calculator/core_staffing.html.erb -->
<%= render layout: 'pricing_calculator/calculator_layout' do %>
  <%= simple_form_for :calculator, url: wizard_path, method: :patch, html: { data: { controller: "calculator" } } do |f| %>

    <!-- Day Hourly Rate -->
    <div class="mb-4">
      <%= f.label :core_staff_day_rate, "Day Hourly Rate (£)" %>
      <%= f.number_field :core_staff_day_rate, min: 0, step: 0.01, class: "border-gray-300 rounded-lg p-2 w-full", required: true, data: { action: "input->calculator#updateCosts", calculator_target: "hourlyRate" } %>
      <p class="calculator-help">Please note that this rate should be an hourly rate charged to staff and includes oncosts such as NI and tax</p>
    </div>

    <!-- Day Hours -->
    <div class="mb-4">
      <%= f.label :day_hours, "Day Hours" %>
      <%= f.number_field :day_hours, min: 0, max: 24, step: 1, class: "border-gray-300 rounded-lg p-2 w-full", required: true, data: { action: "input->calculator#updateCosts", calculator_target: "dayHours" } %>
      <p class="calculator-help">number of day hours in a day covered by staff </p>
    </div>

    <!-- Number of Day Staff -->

      <div class="mb-4">
        <%= f.label :staff_day, "Number of Day Staff" %>
        <%= f.number_field :staff_day, min: 0, step: 1, class: "border-gray-300 rounded-lg p-2 w-full", required: true, data: { action: "input->calculator#updateCosts", calculator_target: "staffCount" } %>
        <p class="calculator-help">Number of staff excluding managers who provide frontline care /support to the people in the unit </p>
      </div>
      <div class="hidden" <%@flats=session['calculator_data']['total_beds_flats'] %>>



      <!-- Total Beds/Flats (Total Beds Flats Target) -->
      <div class="mb-4">
        <%= f.label :total_beds_flats, "Total Beds/Flats" %>
        <%= f.number_field :total_beds_flats, value: @flats, step: 1, class: "border-gray-300 rounded-lg p-2 w-full", required: true, data: { action: "input->calculator#updateCosts", calculator_target: "totalBedsFlats" } %>
      </div>
    </div>
    <!-- Core Cost per Service User (£) -->
    <div class="mb-4">
      <%= f.label :core_cost_per_user, "Core Cost per Service User (£)" %>
      <%= f.number_field :core_cost_per_user, readonly: true, class: "border-gray-300 rounded-lg p-2 w-full", data: { calculator_target: "coreCost" } %>
    </div>

    <!-- Total Number of Hours per Service User -->
    <div class="mb-4">
      <%= f.label :total_hours_per_user, "Total Number of Hours per Service User" %>
      <%= f.number_field :total_hours_per_user, readonly: true, class: "border-gray-300 rounded-lg p-2 w-full", data: { calculator_target: "totalHours" } %>
    </div>

    <%= f.button :submit, "Next", class: "bg-blue-500 text-white px-4 py-2 rounded" %>
  <% end %>
<% end %>
