<%= render layout: 'pricing_calculator/calculator_layout' do %>
  <%= simple_form_for :calculator, url: wizard_path, method: :patch do |f| %>
    <div class="mb-4">
      <%= f.input :core_staff_night_rate, label: "Night Hourly Rate", input_html: { class: 'border-gray-300 rounded-lg p-2 w-full' } %>
    </div>
    <div class="mb-4">
      <%= f.input :night_hours, label: "Night Hours", input_html: { class: 'border-gray-300 rounded-lg p-2 w-full' } %>
    </div>
    <div class="mb-4">
      <%= f.input :staff_night, label: "Number of Night Staff", input_html: { class: 'border-gray-300 rounded-lg p-2 w-full' } %>
    </div>
    <div class="mb-4">
      <%= f.input :sleep_in_rate, label: "Sleep-In Rate", input_html: { class: 'border-gray-300 rounded-lg p-2 w-full' } %>
    </div>
    <%= f.button :submit, "Next", class: "bg-blue-500 text-white px-4 py-2 rounded" %>
  <% end %>
<% end %>