<%= render layout: 'pricing_calculator/calculator_layout' do %>
  <%= simple_form_for :calculator, url: wizard_path, method: :patch do |f| %>
    <div class="mb-4">
      <%= f.input :manager_count, label: "Number of Managers", input_html: { class: 'border-gray-300 rounded-lg p-2 w-full' } %>
    </div>
    <div class="mb-4">
      <%= f.input :manager_salary, label: "Manager Salary", input_html: { class: 'border-gray-300 rounded-lg p-2 w-full' } %>
    </div>
    <div class="mb-4">
      <%= f.input :manager_time_percent, label: "Manager's Time on Service (%)", input_html: { class: 'border-gray-300 rounded-lg p-2 w-full' } %>
    </div>
    <%= f.button :submit, "Next", class: "bg-blue-500 text-white px-4 py-2 rounded" %>
  <% end %>
<% end %>