<%= render layout: 'pricing_calculator/calculator_layout' do %>
  <%= simple_form_for :calculator, url: wizard_path, method: :patch do |f| %>
    <div class="mb-4">
      <%= f.input :number_of_units, label: "Number of Units (Beds/Flats)", input_html: { class: 'border-gray-300 rounded-lg p-2 w-full' } %>
    </div>
    <div class="mb-4">
      <%= f.input :number_of_vacancies, label: "Number of Vacancies", input_html: { class: 'border-gray-300 rounded-lg p-2 w-full' } %>
    </div>
    <div class="mb-4">
      <%= f.input :total_beds_flats, label: "Total Number of Beds/Flats", input_html: { class: 'border-gray-300 rounded-lg p-2 w-full' } %>
    </div>
    <%= f.button :submit, "Next", class: "bg-blue-500 text-white px-4 py-2 rounded" %>
  <% end %>
<% end %>