<%= render layout: 'pricing_calculator/calculator_layout' do %>
  <%= simple_form_for :calculator, url: wizard_path, method: :patch do |f| %>
    <div class="mb-4">
      <%= f.input :additional_hourly_rate, label: "Additional Hourly Rate", input_html: { class: 'border-gray-300 rounded-lg p-2 w-full' } %>
    </div>
    <div class="mb-4">
      <%= f.input :one_on_one_hours, label: "1:1 Additional Hours per Week", input_html: { class: 'border-gray-300 rounded-lg p-2 w-full' } %>
    </div>
    <%= f.button :submit, "Next", class: "bg-blue-500 text-white px-4 py-2 rounded" %>
  <% end %>
<% end %>