<%= turbo_frame_tag "main-content" do %>
  <div class="">
    <div>
      <%= link_to sanitize("&larr; Back to Team"), team_company_path(@company), data: { turbo_frame: "main-content", navigation_target: "link" }, class: "btn mb-4 font-bold text-lg text-white bg-gradient-to-b from-secondary to-primary hover:shadow-slate-500 hover:shadow-lg" %>
    </div>
    <%= form_with(model: @user, url: verify_member_path(@user), local: true, method: :patch) do |f| %>
      <% @user.attributes.each do |key, value| %>
        <p><strong><%= key.humanize %>:</strong> <%= value %></p>
      <% end %>
      <div class="space-y-12">
        <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-3">
          <div>
            <h2 class="text-base font-semibold leading-7 text-gray-900"><%= @user.email %></h2>
            <p>Edit this user's status and details:</p>
          </div>
          <div class="flex flex-col space-y-4">
            <div>
              <%= f.label :first_name, "First Name", class: "block text-sm font-medium text-gray-700" %>
              <%= f.text_field :first_name, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-primary focus:ring-primary sm:text-sm" %>
            </div>
            <div>
              <%= f.label :last_name, "Last Name", class: "block text-sm font-medium text-gray-700" %>
              <%= f.text_field :last_name, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-primary focus:ring-primary sm:text-sm" %>
            </div>
            <div>
              <%= f.label :email, "Email", class: "block text-sm font-medium text-gray-700" %>
              <%= f.email_field :email, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-primary focus:ring-primary sm:text-sm" %>
            </div>
            <% if @user.company_id.present? %>
              <div>
                <%= f.label :role, "Role", class: "block text-sm font-medium text-gray-700" %>
                <div class="mt-1">
                  <%= f.radio_button :role, :care_provider_super_user, class: "mr-2" %>
                  <%= f.label :role_care_provider_super_user, "Super User", class: "inline-block text-sm font-medium text-gray-700" %>
                </div>
                <div class="mt-1">
                  <%= f.radio_button :role, :care_provider_user, class: "mr-2" %>
                  <%= f.label :role_care_provider_user, "User", class: "inline-block text-sm font-medium text-gray-700" %>
                </div>
              </div>
            <% end %>
            <% if @user.local_authority_id.present? %>
              <div>
                <%= f.label :role, "Role", class: "block text-sm font-medium text-gray-700" %>
                <div class="mt-1">
                  <%= f.radio_button :role, :la_super_user, class: "mr-2" %>
                  <%= f.label :role_la_super_user, "Super User", class: "inline-block text-sm font-medium text-gray-700" %>
                </div>
                <div class="mt-1">
                  <%= f.radio_button :role, :la_user, class: "mr-2" %>
                  <%= f.label :role_la_user, "User", class: "inline-block text-sm font-medium text-gray-700" %>
                </div>
              </div>
              <div>
                <%= f.label :care_home, "Care Home", class: "block text-sm font-medium text-gray-700" %>
                <%= f.collection_select :care_home_id, @user.company.care_homes, :id, :name, { prompt: "Select Care Home" }, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-primary focus:ring-primary sm:text-sm" %>
              </div>
            <% end %>
            <% if @user.status == "added" %>
              <div class="text-red-500">
                User needs to log in and change password, please ensure registration pin is given to user a method other than email provided.
              </div>
            <% else %>
              <div>
                <%= f.label :staus, "Account Activation Status", class: "block text-sm font-medium text-gray-700" %>
                <div class="mt-1">
                  <%= f.radio_button :status, :verified, class: "mr-2" %>
                  <%= f.label :status_verified, "Verifed", class: "inline-block text-sm font-medium text-gray-700" %>
                </div>
                <div class="mt-1">
                  <%= f.radio_button :status, :inactive, class: "mr-2" %>
                  <%= f.label :status_inactive, "Inactive", class: "inline-block text-sm font-medium text-gray-700" %>
                </div>
              </div>
            <% end %>
            <%= f.submit "Save", class: "btn bg-gradient-to-b from-secondary to-primary hover:shadow-slate-500 hover:shadow-lg" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
