<%= turbo_frame_tag "modal" do%>
<div class="fixed z-20 p-2 object-center">
  <h2>Verify Your Account</h2>

  <%= form_with(model: @user, url: verify_user_path, method: :patch, local: true) do |f| %>

    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :registration_pin, "Enter your Registration PIN" %>
      <%= f.password_field :registration_pin, required: true, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password, "New Password" %>
      <%= f.password_field :password, required: true, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Confirm New Password" %>
      <%= f.password_field :password_confirmation, required: true, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Verify and Update Password", class: "btn btn-primary" %>
    </div>

  <% end %>
</div>

<% end %>
