<header class="bg-white drop-shadow-md">
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-4 lg:px-8" aria-label="Global" data-controller="navigation togglevisibility" data-navigation-class-value="underline">

    <!-- Logo Section (Visible on both desktop and mobile until menu is open) -->
    <div class="flex lg:flex-1" data-togglevisibility-target="logo">
      <%= link_to root_path, class: "-m-1.5 p-1.5" do %>
        <span class="sr-only">CareTilt</span>
        <%= image_tag 'logo_symbol_trans.png', class: 'w-auto', alt: 'caretilt_logo', style: 'width: 60px' %>
      <% end %>
    </div>

    <!-- Mobile Hamburger Menu Button (Visible only when menu is closed) -->
    <div class="flex lg:hidden" data-togglevisibility-target="iconOpen">
      <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
        data-action="click->togglevisibility#toggle" aria-controls="mobile-menu" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>

    <!-- Desktop Links -->
    <div class="hidden lg:flex flex-start lg:gap-x-12">
      <%= link_to "Home", root_path, class: "header-link", data: { navigation_target: "link", action: "click->navigation#highlightButton" } %>
      <%= link_to "About", about_path, class: "header-link", data: { navigation_target: "link", action: "click->navigation#highlightButton" } %>
      <%= link_to "Free Calculator", pricing_calculator_path(:service_details), class: "header-link", data: { navigation_target: "link", action: "click->navigation#highlightButton" } %>
      <%= link_to "Pricing", pricing_path, class: "header-link", data: { navigation_target: "link", action: "click->navigation#highlightButton" } %>
      <%= link_to "Guides", guides_path, class: "header-link", data: { navigation_target: "link", action: "click->navigation#highlightButton" } %>

      <% if !current_user %>
        <%= link_to "Contact", contact_path, class: "header-link", data: { navigation_target: "link", action: "click->navigation#highlightButton" } %>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
          <a href="/login" class="text-lg font-bold leading-6 text-gray-900">Log in <span aria-hidden="true">&rarr;</span></a>
          <a href="/signup" class="text-lg font-bold leading-6 text-gray-900 ml-6">Register <span aria-hidden="true">&rarr;</span></a>
        </div>
      <% else %>
        <%= link_to "Dashboard", dashboard_index_path(current_user), class: "header-link", data: { navigation_target: "link", action: "click->navigation#highlightButton" } %>
        <%= link_to "Logout", logout_path, class: "header-link", data: { navigation_target: "link", action: "click->navigation#highlightButton" } %>
      <% end %>
    </div>

    <!-- Mobile Menu (Visible when hamburger icon is clicked) -->
    <div id="mobile-menu" class="hidden lg:hidden inset-0 z-50 w-full bg-white sm:max-w-sm" data-togglevisibility-target="content">
      <!-- Close Menu Button (Cross Icon) -->
      <div class="flex items-center justify-between mb-4 w-full">
        <%= link_to root_path, class: "-m-1.5 p-1.5" do %>
          <span class="sr-only">CareTilt</span>
          <%= image_tag 'logo_symbol_trans.png', class: 'w-auto', alt: 'caretilt_logo', style: 'width: 60px' %>
        <% end %>
        <button type="button" class="text-gray-700" data-action="click->togglevisibility#toggle">
          <%= render 'shared/icons/cross' %>
        </button>
      </div>

      <!-- Mobile Links in Vertical List -->
      <div class="mt-6 space-y-2">
        <%= link_to "Home", root_path, class: "-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50" %>
        <%= link_to "About", about_path, class: "-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50" %>
        <%= link_to "Free Calculator", pricing_calculator_path(:service_details), class: "-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50" %>
        <%= link_to "Pricing", pricing_path, class: "-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50" %>
        <%= link_to "Guides", guides_path, class: "-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50" %>

        <% if !current_user %>
          <%= link_to "Contact", contact_path, class: "-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50" %>
          <%= link_to "Log In", login_path, class: "-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50" %>
          <%= link_to "Sign Up", signup_path, class: "-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50" %>
        <% else %>
          <%= link_to "Dashboard", dashboard_index_path(current_user), class: "-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50" %>
          <%= link_to "Logout", logout_path, class: "-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50" %>
        <% end %>
      </div>
    </div>
  </nav>
</header>
