<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 mx-auto max-w-md">
  <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
    Verify Your Identity
  </h2>

  <!-- Form to submit the OTP -->
  <div class="mt-8 space-y-6">
    <%= form_with url: verify_otp_path, method: :post, class: "space-y-6" do |form| %>
      
      <!-- OTP Input Field -->
      <div>
        <%= form.label :otp_code, "Enter the verification code sent to your phone", class: "block text-sm font-medium text-gray-700" %>
        <%= form.text_field :otp_code, class: "block w-full mt-1 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
      </div>
      
      <!-- Display the last 4 digits of the phone number -->
      <div class="text-sm text-gray-600">
        A text will be sent to your phone ending in <%= current_user.phone_number.last(4) %>.
      </div>

      <!-- Button to trigger sending OTP again -->
      <div>
        <%= button_to 'Send SMS Code', send_otp_path, method: :post, class: "w-full bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" %>
      </div>

      <!-- Verify Button -->
      <div>
        <%= form.submit "Verify", class: "w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
      </div>

    <% end %>
  </div>
</div>
