<!-- app/views/users/two_factor_authentication/show.html.erb -->
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 mx-auto max-w-md">
  <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
    Verify Your Identity
  </h2>

  <!-- Form to submit the OTP -->
  <div class="mt-8">
    <%= form_with url: verify_otp_path, method: :post, class: "space-y-6" do |form| %>
      <div class="flex items-center space-x-4">
        <!-- OTP Input Field -->
        <div class="flex-1">
          <%= form.label :otp_code, "Enter the verification code sent to your phone", class: "block text-sm font-medium text-gray-700" %>
          <%= form.text_field :otp_code, class: "block w-full mt-1 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
        </div>

        <!-- Verify Button -->
        <div>
          <%= form.submit "Verify", class: "button-base-primary mt-6" %>
        </div>
      </div>
    <% end %>

    <!-- Button to trigger sending OTP again -->
    <div class="mt-6">
      <%= button_to 'Send Verification Code', send_otp_path, method: :post, class: "button-base-primary w-full" %>
    </div>
  </div>
</div>