<li class="px-4 py-4 sm:px-6 lg:px-8">
  <div class="flex items-center gap-x-3">
  <span class="flex h-6 w-6 shrink-0 items-center justify-center rounded-lg border border-gray-200 bg-white text-[0.625rem] font-medium text-gray-700 group-hover:border-primary group-hover:text-primary">B</span>    <h3 class="flex-auto truncate text-lg font-semibold leading-6 text-black">
      <p><strong>Enquiry:</strong> <%= booking.contact_name %></p>
    </h3>
    <time datetime="<%= booking.created_at.iso8601 %>" class="flex-none text-xs text-gray-600"><%= time_ago_in_words(booking.created_at) %> ago</time>
  </div>
  <p class="mt-3 truncate text-lg text-gray-500">
    <strong>Booking for:</strong> <%= booking.room.name %>
    <span class="text-gray-700"><%= booking.room.care_home.name %></span> (<span class="font-mono text-gray-700"><%= booking.contact_name %></span>)
  </p>
</li>
