 <turbo-frame id="main-content">
  <div>
    <h1 class="font-bold text-4xl">Manage Rooms</h1>
    <%= link_to sanitize("&larr; Back to homes"), care_home_path(@care_home), class: "btn mb-4 font-bold text-lg text-white bg-gradient-to-b from-secondary to-primary  hover:shadow-slate-500 hover:shadow-lg" %>
    <%= link_to "Add a room", new_care_home_room_path(@care_home), data: { turbo_frame: "main-content" }, class: "bg-primary hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" %>
    <%  @all_rooms.each do |room| %>
      <%= render "shared/card2", room: room %>
      <div class="flex justify-between items-center border-b border-gray-300 py-4">
        <div>
          <%= link_to 'Show', room_path(room), data: { turbo_frame: "main-content" }, class: "btn bg-gradient-to-b from-secondary to-primary text-white" %>
          <%= link_to 'Edit', edit_room_path(room), data: { turbo_frame: "main-content" }, class: "btn bg-gradient-to-b from-secondary to-primary text-white" %>
          <%= link_to 'Destroy', room_path(room), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn bg-gradient-to-b from-secondary to-primary text-white" %>
        </div>
      </div>
    <% end %>
    
  </div>
</turbo-frame>
