<div id="<%= dom_id(home[:care_home]) %>" class="care-home overflow-hidden rounded-lg bg-white shadow-lg grid grid-cols-1 md:grid-cols-3 gap-4 mt-5">
  
  <!-- Image Section (Responsive Positioning) -->
  <div class="flex justify-center items-center p-4 md:col-span-1 col-span-full">
    <%= image_tag home[:care_home].thumbnail_or_default, 
                  class: "carehome-preview-image w-full md:w-auto", 
                  width: 200, 
                  height: 200, 
                  alt: "thumbnail" %>
  </div>

  <!-- Info Section -->
  <div class="p-4 md:col-span-2 col-span-full flex flex-col justify-between">
    
    <!-- Header with Title and Logo -->
    <div class="flex justify-between items-center">
      <div>
        <h3 class="text-xl md:text-2xl text-blue-600 font-semibold"><%= home[:care_home].name %></h3>
        <p class="text-sm md:text-base text-gray-500"><%= home[:care_home].short_address %></p>
      </div>
      <% if home[:care_home].company.logo.present? %>
        <%= image_tag home[:care_home].company.logo, class: "w-16 h-16 object-contain ml-auto", alt: "company logo" %>
      <% end %>
    </div>

    <!-- Location Type and Description Section -->
    <div class="mt-4">
      <h3 class="font-medium">Location Type: <span class="text-gray-700 font-normal"><%= home[:care_home].type_of_home %></span></h3>
      <div class="description mt-2 h-32 overflow-hidden">
        <p><%= home[:care_home].short_description %></p>
      </div>
    </div>

    <!-- Footer Section with Vacant Rooms, Services, and Actions -->
    <div class="mt-4 space-y-2">
      <% if home[:vacant_rooms].length > 0 %>
        <h3 class="font-semibold">
          <%= home[:vacant_rooms].length %> <%= home[:vacant_rooms].length > 1 ? "rooms" : "room" %> available starting at <%= number_to_currency(home[:lowest_price], unit: "£") %>
        </h3>
      <% else %>
        <h3 class="font-semibold">No vacant rooms currently available</h3>
      <% end %>

      <div>
        <h2 class="font-semibold">Services provided:</h2>
        <ul class="list-disc list-inside mt-2 text-sm text-gray-600">
          <% home[:care_home].types_of_client_group.each do |service| %>
            <li><%= service %></li>
          <% end %>
        </ul>
      </div>

      <!-- Action Buttons -->
      <div class="flex gap-2 justify-end mt-4">
        <% if policy(home[:care_home]).edit? %> 
          <%= link_to 'Edit', edit_care_home_path(home[:care_home]), data: { turbo_frame: "main-content" }, class: "button-base-gradient" %>
        <% end %>
        <%= link_to 'More Details', care_home_path(home[:care_home]), data: { turbo_frame: "main-content" }, class: "btn rounded-xl bg-gradient-to-b from-secondary to-primary text-white" %>
      </div>
    </div>
  </div>
</div>
