<!-- views/care_homes/_form.html.erb -->

<%# Same form used here for new and edit. New required company to attach to, edit just requires edit to append. %>

<%= simple_form_for(@care_home, url: @care_home.new_record? ? company_care_homes_path(@company) : care_home_path(@care_home)) do |f| %>

  <!-- Hidden Fields are used to transmit data across privately -->
  <%= f.hidden_field :id, value: @care_home.id %>
  <!-- Hidden Fields for Latitude and Longitude -->
  <%= f.hidden_field :latitude, id: "latitude" %>
  <%= f.hidden_field :longitude, id: "longitude" %>
  <div class="space-y-12">

    <div class="grid grid-cols-1 gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-3">
      <div class="md:col-span-6">
        <h2 class="text-card-heading">Care Home Profile</h2>
        <p class="mt-1 text-description-small">This information will be displayed publicly so be careful what you share.</p>
      </div>
      <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2">

        <!-- Website -->
        <div class="col-span-6">
          <%= f.input :website, label: "Website", placeholder: "https://www.example.com", input_html: { id: "website" } %>
        </div>
        <!-- Main Contact -->
        <div class="col-span-6">
          <%= f.input :main_contact, label: "Name Of Main Contact", input_html: { id: "main_contact" } %>
        </div>
        <!-- Name -->
        <div class="col-span-6">
          <%= f.input :name, label: "Name Of Care Home", input_html: { id: "name" } %>
        </div>
        <!-- Address Line 1 -->
        <div class="col-span-6">
          <%= f.input :address1, label: "Address Line 1", input_html: { id: "address1" } %>
        </div>
        <!-- Address Line 2 -->
        <div class="col-span-6">
          <%= f.input :address2, label: "Address Line 2", input_html: { id: "address2" } %>
        </div>
        <!-- City -->
        <div class="col-span-6">
          <%= f.input :city, label: "City", input_html: { id: "city" } %>
        </div>
        <!-- Postcode -->
        <div class="col-span-6">
          <%= f.input :postcode, label: "Postcode", input_html: { id: "postcode" } %>
        </div>
        <!-- Phone Number -->
        <div class="col-span-6">
          <%= f.input :phone_number, label: "Phone Number", input_html: { id: "phone_number" } %>
        </div>
        <!-- Email Address -->
        <div class="col-span-6">
          <%= f.input :email, label: "Email Address", input_html: { id: "email" } %>
        </div>
        <!-- Type of Home -->
        <div class="col-span-6">
          <%= f.input :type_of_service, label: "Type of Service", collection: CareHome::TYPESERVICE, include_blank: 'Select a type', input_html: { id: "type_of_service" } %>
        </div>
        <!-- Types of Client Group -->
        <div class="col-span-6">
          <%= f.collection_check_boxes :types_of_client_group, CareHome::TYPECLIENT, :itself, :to_s do |b| %>
            <div>
              <%= b.check_box %>
              <%= b.label %>
            </div>
          <% end %>
        </div>
        <!-- Local Authority -->
        <div class="col-span-6">
          <%= f.input :local_authority_name, label: "Local Authority",
            collection: CareHome.cached_local_authority_names,
            prompt: 'Select a local authority',
            input_html: { class: 'custom-class' } %>
        </div>
        <!-- Short Description -->
        <div class="col-span-6">
          <%= f.input :short_description, label: "Short Description", as: :text, input_html: { id: "short_description", rows: 3 } %>
          <p class="mt-3 text-sm xl:text-base leading-6 text-gray-600">A short description shown on search previews.</p>
        </div>
         <!-- Short Description -->
        <div class="col-span-6">
          <%= f.input :long_description, label: "Long Description", as: :text, input_html: { id: "long_description", rows: 3 } %>
          <p class="mt-3 text-sm xl:text-base leading-6 text-gray-600">A description to advertise your service on it's landing page.</p>
        </div>
         <!-- media Upload -->
        <div class="col-span-6">
          <%= f.input :media, as: :file, input_html: { multiple: true }, label: "Upload Media (max 20mb size)" %>
        </div>
        <!-- Display Existing Media (Images/Videos) -->
        <% if @care_home.media.attached? %>
          <div class="images-wrapper" data-controller="sortable">
            <% @care_home.media.each_with_index do |media_file, index| %>
              <div class="form-image-card" data-id="<%= media_file.id %>">
                <% if media_file.image? %>
                  <%= image_tag media_file, class: "uploaded-media form-image" %>
                <% elsif media_file.video? %>
                  <%= video_tag media_file, controls: true, class: "uploaded-media form-image" %>
                <% end %>

                <!-- Hidden field to store the media's position -->
                <%= hidden_field_tag "media_order[#{media_file.id}]", index + 1, class: "media-position" %>
              </div>
            <% end %>
          </div>
        <% end %>
         <!-- Thumbnail Upload -->
        <div class="col-span-6">
          <%= f.input :thumbnail_image, as: :file, input_html: { multiple: false }, label: "Upload Your CareHome Preview Thumbnail" %>
        </div>
        <!-- Display Existing Media (Images/Videos) -->
        <% if @care_home.thumbnail_image.attached? %>
            <div class="home-thumbnail-image">
                <%= image_tag @care_home.thumbnail_image, class: "carehome-thumbnail" %>
            </div>
        <% end %>
        <!-- Submit Button -->
        <div class="mt-6 col-span-6">
          <%= f.button :submit, "Save", class: "btn bg-gradient-to-b from-secondary to-primary hover:shadow-slate-500 hover:shadow-lg w-full" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= turbo_stream_from "media" %>
