<turbo-frame id="main-content">
  <% if @care_home.photos.attached? %>
    <div class="photos">
      <% @care_home.photos.each do |photo| %>
        <%= image_tag photo, class: "uploaded-photo" %>
      <% end %>
    </div>
  <% end %>
  <% if @care_home.videos.attached? %>
  <div class="videos">
      <% @care_home.videos.each do |video| %>
        <%= video_tag video, controls: true, class: "uploaded-video" %>
      <% end %>
    </div>
  <% end %>
  <div class="relative border-b border-gray-200 pb-5 sm:pb-2 mt-10">
    <div class="md:flex md:items-center md:justify-between">
      <div class="mt-4">
          <h3 class="text-5xl text-blue-600 font-semibold leading-6"> <%= @care_home.name %></h3>
          <p class="mt-4 text-base text-gray-500"> <%= @care_home.formatted_address %></p>
      </div>
      <div class="px-4 py-5 sm:px-6 col-span-2 flex justify-between">
          <%= image_tag "advina", size: "150x150" %>
      </div>
    </div>
    <div class="flex justify-between">
      <div class="mt-3 flex">
        <%= link_to 'Care / Support Services', care_home_rooms_path(@care_home), data: { turbo_frame: "main-content" }, class: "button-blue-pill" %>
      </div>
      <div class="mt-3 flex justify-end gap-4">
        <a href="<%= @care_home.website %>" target="_blank" class="button-blue-pill">
          View Website
        </a>
        <a href="mailto:<%= @care_home.email %>" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
          Send Email
        </a>
        <a href="tel:<%= @care_home.phone_number %>" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
          View Phone Number
        </a>
      </div>
    </div>
  </div>

  <!-- Carousel -->
  <div class="carousel-container relative w-full mx-auto mt-8">
    <!-- Carousel Wrapper -->
    <div class="carousel-inner flex overflow-x-auto snap-x snap-mandatory scrollbar-hide">
      <!-- 10 Random Images from Unsplash -->
      <% 1.times do |i| %>
        <div class="carousel-item flex-none w-1/3 snap-start p-2">
          <%= image_tag "Cloisters.CareHome.External", alt: "Slide #{i + 1}", class: "w-full h-auto rounded-lg" %>
        </div>
      <% end %>
    </div>

    <!-- Previous Button -->
    <button id="prevBtn" class="absolute top-1/2 left-2 transform -translate-y-1/2 bg-gray-700 text-white p-2 rounded-full hover:bg-gray-900 focus:outline-none">
      <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
      </svg>
    </button>

    <!-- Next Button -->
    <button id="nextBtn" class="absolute top-1/2 right-2 transform -translate-y-1/2 bg-gray-700 text-white p-2 rounded-full hover:bg-gray-900 focus:outline-none">
      <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
      </svg>
    </button>
  </div>

  <!-- Map Placeholder Section -->
  <div class="relative w-full mt-12 grid grid-cols-1 md:grid-cols-2 gap-8">
    <!-- Text Section -->
    <div class="text-section flex items-center">
      <p>
        <%= @care_home.long_description.blank? ? @care_home.short_description : @care_home.long_description %>
      </p>
    </div>

    <!-- Map Section -->
    <div class="map-section">
      <%= image_tag "Map-Placeholder", class: "w-full h-auto rounded-lg" %>
    </div>
  </div>

  <div class="bg-white py-12 sm:py-24">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <dl class="col-span-2 grid grid-cols-1 gap-x-8 gap-y-10 text-base leading-7 text-gray-600 sm:grid-cols-2 lg:gap-y-16">
          <div class="relative pl-9">
            <dt class="font-semibold text-gray-900">
            <svg fill="currentColor" aria-hidden="true" class="absolute left-0 top-1 h-5 w-5 text-indigo-500" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="m12.223 11.641-.223.22-.224-.22a2.224 2.224 0 0 0-3.125 0 2.13 2.13 0 0 0 0 3.07L12 18l3.349-3.289a2.13 2.13 0 0 0 0-3.07 2.225 2.225 0 0 0-3.126 0z"/><path d="m21.707 11.293-9-9a.999.999 0 0 0-1.414 0l-9 9A1 1 0 0 0 3 13h1v7c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2v-7h1a1 1 0 0 0 .707-1.707zM18.001 20H6v-9.585l6-6 6 6V15l.001 5z"/></svg>
              Type Of Home
            </dt>
            <dd class="mt-2"><%= @care_home.type_of_home %></dd>
          </div>
          <div class="relative pl-9">
            <dt class="font-semibold text-gray-900">
              <svg class="absolute left-0 top-1 h-5 w-5 text-indigo-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
              </svg>
              Services Provided / Type Of Client Group
            </dt>
            <dd class="mt-2">
              <div>
                <ul class="list-disc list-inside mt-2 marker:primary">
                    <% @care_home.types_of_client_group.each do |service| %>
                      <li><%= service %></li>
                    <% end %>
                </ul>
            </div>
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
  
  <% if @rooms.length > 0 %>
    <div class="px-4 sm:px-6 lg:px-8">
      <%# <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
          <h1 class="text-base font-semibold leading-6 text-gray-900">Users</h1>
          <p class="mt-2 text-sm text-gray-700">A list of all the users in your account including their name, title, email and role.</p>
        </div>
        <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
          <button type="button" class="block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Add user</button>
        </div>
      </div> %>
      <div class="mt-8 flow-root">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
            <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
              <table class="min-w-full divide-y divide-gray-300">
                <thead class="bg-gray-50">
                  <tr>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-lg font-semibold text-gray-900 sm:pl-6">Room Name</th>
                    <th scope="col" class="px-3 py-3.5 text-left text-lg font-semibold text-gray-900">Core Fee Level</th>
                    <th scope="col" class="px-3 py-3.5 text-left text-lg font-semibold text-gray-900">Core Hours of Care</th>
                    <th scope="col" class="px-3 py-3.5 text-left text-lg font-semibold text-gray-900">Additional Fees associated</th>
                    <th scope="col" class="px-3 py-3.5 text-left text-lg font-semibold text-gray-900">Single / Double</th>
                    <th scope="col" class="px-3 py-3.5 text-left text-lg font-semibold text-gray-900">Ensuite</th>
                    <th scope="col" class="px-3 py-3.5 text-left text-lg font-semibold text-gray-900">Total Weekly</th>
                    <th scope="col" class="px-3 py-3.5 text-left text-lg font-semibold text-gray-900"></th>
                    <%# <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                      <span class="sr-only">Edit</span>
                    </th> %>
                  </tr>
                </thead>
                <tbody class="divide-y divide-gray-200 bg-white">
                  <% @rooms.each do |room| %>
                    <tr>
                      <td class="whitespace-nowrap py-4 pl-4 pr-3 text-description font-medium sm:pl-6"><%= room.name %></td>
                      <td class="whitespace-nowrap px-3 py-4 text-description"><%= number_to_currency(room.core_fee_level, unit: "£") %></td>
                      <td class="whitespace-nowrap px-3 py-4 text-description"><%= room.core_hours_of_care %></td>
                      <td class="whitespace-nowrap px-3 py-4 text-description"><%= room.additional_fees_associated ? render('shared/icons/tick') : render('shared/icons/cross') %></td>
                      <td class="whitespace-nowrap px-3 py-4 text-description"><%= room.single_double %></td>
                      <td class="whitespace-nowrap px-3 py-4 text-description"><%= room.ensuite ? render('shared/icons/tick') : render('shared/icons/cross') %> </td>
                      <td class="whitespace-nowrap px-3 py-4 text-description"><%= number_to_currency(room.total, unit: "£") %></td>
                      <%# <td class="whitespace-nowrap px-3 py-4 text-description">
                        <%= link_to 'Enquire about this room', new_room_booking_enquiry_path(room), data: { turbo_frame: "main-content" }, class: "btn bg-gradient-to-b from-secondary to-primary text-white" %>
                      <%# </td>  %>
                      <%# <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                        <a href="#" class="text-indigo-600 hover:text-indigo-900">Edit<span class="sr-only">, Lindsay Walton</span></a>
                      </td> %>
                    </tr>
                  <% end %>
                  <tr>
                    <%# <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">Lindsay Walton</td>
                    <td class="whitespace-nowrap px-3 py-4 text-description">Front-end Developer</td>
                    <td class="whitespace-nowrap px-3 py-4 text-description">lindsay.walton@example.com</td>
                    <td class="whitespace-nowrap px-3 py-4 text-description">Member</td>
                    <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                      <a href="#" class="text-indigo-600 hover:text-indigo-900">Edit<span class="sr-only">, Lindsay Walton</span></a>
                    </td> %>
                  </tr>

                  <!-- More people... -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</turbo-frame>
