<div>
  <p>You have received a new contact form submission:</p>
  <p><strong>First Name:</strong> <%= @contact_params[:first_name] %></p>
  <p><strong>Last Name:</strong> <%= @contact_params[:last_name] %></p>
  <p><strong>Email:</strong> <%= @contact_params[:email] %></p>
  <p><strong>Phone Number:</strong> <%= @contact_params[:phone_number] %></p>
  <p><strong>Message:</strong> <%= @contact_params[:message] %></p>
</div>
