<!DOCTYPE html>
<html data-theme="fantasy">
  <head>
    <%= metamagic site: 'Caretilt', title: [:site, :title], separator: " | " %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favi.ico' %>
    <!-- tailwind components -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.1/dist/full.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
    <!-- app styles -->
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!-- GOOGLE PLACES API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_API_KEY']%>&libraries=places"></script>
    <%= javascript_importmap_tags %>
    <%= render "shared/script_tags" %>
  </head>
  <body>
    <% if controller.controller_name == "dashboard" %>
      <main class="container mt-14 ">
    <% else %>
        <%= render "shared/header" %>
        <main class="container mx-auto mt-14 px-6">
        <% end %>
        <%= render "shared/impersonator" %>
        <%= render "shared/flash" %>
        <%= yield %>
      </main>
      <%= render "shared/footer" if controller.controller_name != "dashboard" %>
    </body>
  </html>
