<!DOCTYPE html>
<html>
  <head>
    <%= metamagic site: 'Caretilt', title: [:site, :title], separator: " | " %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favi.ico' %>
    <!-- phone input with country dropdown-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@24.5.0/build/css/intlTelInput.css">
    <link
     rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"
   />
   <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

    <!-- tailwind components -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.1/dist/full.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- app styles -->
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!-- GOOGLE PLACES API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_API_KEY']%>&libraries=places"></script>
    <%= javascript_importmap_tags %>
    <%= render "shared/script_tags" %>
    <script src="https://js.stripe.com/v3"></script>
  </head>
  <body class="bg-gradient-design overflow-x-hidden">
    <%# Give a console unless in production environment. %>
    <% unless ENV['RAILS_ENV'] == 'production' %>
    <% end %>
      <%= console %>

    <% if controller.controller_name == "dashboard" %>
      <main class="container mt-14 ">
    <% else %>

        <%= render "shared/header" %>
        <%# container used to to ahve mt-14 - remove for mobile %>
        <main class="container mx-auto px-6 mt-0 lg:mt-14">
        <% end %>
        <%= render "shared/flash" %>
        <%= yield %>
      </main>
      <%= render "shared/footer" if controller.controller_name != "dashboard" %>
    </body>
  </html>
